<%= form_with(model: @quest, local: true) do |form| %>

  <% if @quest.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@quest.errors.count, "error") %> prohibited this quest from being saved:
      </h2>
      <ul>
        <% @quest.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name, class: 'col-sm-2 control-label' %><br>
    <div class="col-sm-10">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :Description, class: 'col-sm-2 control-label' %><br>
    <div class="col-sm-10">
      <%= form.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
  <%= form.label :npc_id, class: 'col-sm-2 control-label' %><br />
    <div class="col-sm-10">
    <% if admin? %>
      <%= form.collection_select :npc_id, Npc.order(:name), :id, :name, include_blank: true, class: 'col-sm-2 control-label' %>
    <% else %>
      <%= form.collection_select :npc_id, Npc.where(discovered: true).order(:name), :id, :name, include_blank: true, class: 'col-sm-2 control-label' %>
    <% end %>
    </div>
  </div>

  <% if admin? %>
    <div class="field form-group">
      <%= form.check_box :discovered %>
      <%= form.label :Discovered %>
    </div>
  <% end %>

  <div class="actions form-group">
   <div class="col-sm-offset-2 col-sm-10">
     <%= form.submit %>
   </div>
 </div>

<% end %>
