<%= form_with(model: @quest, local: true) do |form| %>

  <% if @quest.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@quest.errors.count, "error") %> prohibited
        this quest from being saved:
      </h2>
      <ul>
        <% @quest.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :Description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :npcs %> <br>
    <%= form.fields_for :npcs, include_id: false do |npc_form| %>
      <%= npc_form.collection_select :id, permitted(Npc).order(:name), :id, :name, include_blank: true %>
      <br>
    <% end %>
  </p>

  <% if admin? %>
    <p>
      <%= form.check_box :discovered %>
      <%= form.label :Discovered %>
    </p>
  <% end %>

  <p>
    <%= form.submit %>
  </p>

<% end %>
