<%= form_with(model: @quest, local: true) do |form| %>

  <% if @quest.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@quest.errors.count, "error") %> prohibited this quest from being saved:
      </h2>
      <ul>
        <% @quest.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name, class: 'col-sm-2 control-label' %><br>
    <div class="col-sm-10">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :Description, class: 'col-sm-2 control-label' %><br>
    <div class="col-sm-10">
      <%= form.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <% if admin? %>

    <div class="field form-group">
      <%= form.label :npcs, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
      <%= form.fields_for :npcs, include_id: false do |npc_form| %>
          <%= npc_form.collection_select :id, Npc.order(:name), :id, :name, include_blank: true, class: 'col-sm-2 control-label'%>
          <br>
      <% end %>
      </div>
    </div>

    <div class="field form-group">
      <%= form.label :Discovered, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= form.check_box :discovered %>
      </div>
    </div>

  <% end %>

  <div class="actions form-group">
   <div class="col-sm-2">
     <%= form.submit %>
   </div>
 </div>

<% end %>
