
<table class="table">
  <tr>
    <!--<th>Id</th>-->
    <th>Name</th>
  </tr>

  <% permitted(items).each do |item| %>
      <tr>
        <!--<td><%= item.id %></td>-->
        <td><%= item.name %></td>
        <td><%= link_to 'Show', item, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', {id: item.id, action: 'edit'}, class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', item, {method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'} %></td>
      </tr>
  <% end %>
</table>

<%= link_to 'New Item', {controller: controller, action: 'new'}, class: 'btn btn-success' %>
