<!DOCTYPE html>
<html>
  <head>
    <title>DnDTools</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <%= link_to "DnD Tools", root_path, class: "navbar-brand" %>
        </div>

        <ul class="nav navbar-nav">
          <li> <%= link_to "Quests", quests_path %> </li>
          <li> <%= link_to "NPCs", npcs_path %> </li>
          <li> <%= link_to "Spells", spells_path %> </li>
          <li> <%= link_to "Monsters", monsters_path %> </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li> <%= link_to 'Master Login', welcome_login_path %> </li>
        </ul>

      </div>
    </nav>

    <div id="main-container" class="container">
      <%= yield %>
    </div>
  </body>
</html>
