<!DOCTYPE html>
<html>
  <head>
    <title>DnDTools</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="navbar-brand">
        <%= link_to "DnD Tools", root_path, class: "navbar-brand" %>
      </div>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <%= link_to "Quests", quests_path, class: "nav-link" %> </li>
        <li class="nav-item"> <%= link_to "NPCs", npcs_path, class: "nav-link" %> </li>
        <li class="nav-item"> <%= link_to "Spells", spells_path, class: "nav-link" %> </li>
        <li class="nav-item"> <%= link_to "Monsters", monsters_path, class: "nav-link" %> </li>
      </ul>

      <ul class="navbar-nav navbar-right">
          <li class="nav-item"> <%= link_to 'Master Login', welcome_login_path, class: "nav-link" %> </li>
        </ul>
    </nav>
    <br>

    <div id="main-container" class="container">
      <%= yield %>
    </div>
  </body>
</html>
